.otp-modal {
  &__description {
    margin-bottom: 10px;
  }

  &__code {
    margin-right: 10px;
  }

  &__submit {
    position: relative;

    &.-loading {
      &::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: inherit;
        z-index: 2;
      }

      &::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        border-radius: 50%;
        border: 2px solid #ccc;
        border-top-color: rgb(204, 204, 204);
        border-top-color: transparent;
        animation: spinner 1s linear infinite;
        z-index: 3;
      }
    }
  }

  &__error {
    color: #cc4856;
    margin: 4px;
  }
}
