{% macro OTPModal(class='', title=false, description=false, countdown_text=false, button_text=false, error_text=false) %}
  <div
    class="modal otp-modal js-otp-modal {{ class }}"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered otp-modal__dialog">
      <div class="modal-content otp-modal__content">
        {% if caller %}
          {{ caller() }}
        {% else %}
          <div class="modal-header otp-modal__header">
            <h5 class="modal-title otp-modal__title">
              {{ _(title or 'SMS Doğrulama') }}
            </h5>

            <button
              type="button"
              class="close otp-modal__close"
              data-dismiss="modal"
              aria-label="{{ _('Kapat') }}"
            >
              <span aria-hidden="true" class="d-none"></span>
            </button>
          </div>

          <div class="modal-body otp-modal__body">
            <div class="otp-modal__description">
              {{ _(description or 'Lütfen telefonunuza gelen SMS doğrulama kodunu giriniz') }}
            </div>

            <input
              type="text"
              inputmode="numeric"
              name="code"
              class="otp-modal__code js-otp-code"
            />

            <span class="js-otp-countdown otp-modal__countdown">
              {{ _(countdown_text or '') }}
            </span>

            <label class="d-none otp-modal__error js-otp-error">
              {{ _(error_text or 'SMS doğrulama başarısız') }}
            </label>
          </div>

          <div class="modal-footer otp-modal__footer">
            <button type="button" class="btn btn-dark otp-modal__submit js-otp-submit">
              {{ _(button_text or 'Doğrula') }}
            </button>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endmacro %}
